#myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h4#myModalLabel.modal-title Instructions
      .modal-body
        Click on a chemical element in the periodic table below and watch its protons come to life. Knock them around, or do as you please. Have fun!   
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close