%body#home
	.jumbotron.pull-right.text-left.animated.fadeInRight
		%h1 Proton Playground
		%p Have fun with the periodic table of the chemical elements.
		.button
			= link_to "Start Now", playground_path