%body#playground
	.container-fluid
		%button New Element
		.row
			.atoms
		.row
			.periodic-table.col-lg-12
				%table.main-elements
					%tbody

						/ first row
						%tr
							%td{class: "chemical", data: {attribute: @elements[0].atomic_number}}= @elements[0].symbol

							- 16.times do |tag|
								%td{class: "empty-cell"}

							%td{class: "chemical", data: {attribute: @elements[1].atomic_number}}= @elements[1].symbol

						/ second row	
						%tr
							%td{class: "chemical", data: {attribute: @elements[2].atomic_number}}= @elements[2].symbol

							%td{class: "chemical", data: {attribute: @elements[3].atomic_number}}= @elements[3].symbol

							-10.times do |tag|
								%td{class: "empty-cell"}

							- (@elements[4..9]).each do |element|	
								%td{class: "chemical", data: {attribute: element.atomic_number}}= element.symbol

						/ third row		
						%tr
							%td{class: "chemical", data: {attribute: @elements[10].atomic_number}}= @elements[10].symbol

							%td{class: "chemical", data: {attribute: @elements[11].atomic_number}}= @elements[11].symbol

							-10.times do |tag|
								%td{class: "empty-cell"}

							-(@elements[12..17]).each do |element|
								%td{class: "chemical", data: {attribute: element.atomic_number}}= element.symbol

						/ fourth row		
						%tr
							-(@elements[18..35]).each do |element|
								%td{class: "chemical", data: {attribute: element.atomic_number}}= element.symbol

						/ fifth row		
						%tr
							-(@elements[36..53]).each do |element|
								%td{class: "chemical", data: {attribute: element.atomic_number}}= element.symbol

						/ sixth row		
						%tr
							%td{class: "chemical", data: {attribute: @elements[54].atomic_number}}= @elements[54].symbol

							%td{class: "chemical", data: {attribute: @elements[55].atomic_number}}= @elements[55].symbol

							%td Lant

							- (@elements[71..85]).each do |element|
								%td{class: "chemical", data: {attribute: element.atomic_number}}= element.symbol

						/ seventh row		
						%tr
							%td{class: "chemical", data: {attribute: @elements[86].atomic_number}}= @elements[86].symbol

							%td{class: "chemical", data: {attribute: @elements[87].atomic_number}}= @elements[87].symbol

							%td Acti
							
							- (@elements[103..117]).each do |element|
								%td{class: "chemical", data: {attribute: element.atomic_number}}= element.symbol				

				%table.other-elements
					%tbody
						%tr
						- (@elements[56..70]).each do |element|
							%td{class: "chemical", data: {attribute: element.atomic_number}}= element.symbol
							
						%tr
						- (@elements[88..102]).each do |element|
							%td{class: "chemical", data: {attribute: element.atomic_number}}= element.symbol


		
