$elementborder: 1px solid;

$non-metals: 1,6,7,8,15,16,34;
$nonmetalscolor: #616569;

$alkali-metals: 3,11,19,37,55,87;
$alkalicolors: #403D39;

$alkaline-metals: 4,12,20,38,56,88;
$alkalinecolors: #807A71;

$noble-gases: 2,10,18,36,54,86,118;
$noblegasescolor: #3B363D;

$halogens: 9,17,35,53,85,117;
$halogenscolor: #48454C;

$semi-metals: 5,14,32,33,51,52,84;
$semimetalscolor: #A29EA2;

$basic-metals: 13,31,49,50,81,82,83,113,114,115,116;
$basicmetalscolor: #BFB7AA;

$lantcolor: #BFBAB0;
$acticolor: #474242;

$transitioncolor: #ABA398;

@mixin animation {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

@mixin non-metals {
	@each $i in $non-metals {
		&[data-attribute='#{$i}'] {
			background-color: $nonmetalscolor;
			border: $elementborder $nonmetalscolor;
			@include animation;
			&:hover {
				background-color: $nonmetalscolor - 27;
				border: $elementborder $nonmetalscolor - 27;
			}
		}
	}
}

@mixin alkali-metals {
	@each $i in $alkali-metals {
		&[data-attribute='#{$i}'] {
			background-color: $alkalicolors;
			border: $elementborder $alkalicolors;
			@include animation;
			&:hover {
				background-color: $alkalicolors - 20;
				border: $elementborder $alkalicolors - 20;
			} 
		}
	}
}

@mixin alkaline-metals {
	@each $i in $alkaline-metals {
		&[data-attribute='#{$i}'] {
			background-color: $alkalinecolors;
			border: $elementborder $alkalinecolors;
			@include animation;
			&:hover {
				background-color: $alkalinecolors - 20;
				border: $elementborder $alkalinecolors - 20;
			}
		}
	}
}

@mixin noble-gases {
	@each $i in $noble-gases {
		&[data-attribute='#{$i}'] {
			background-color: $noblegasescolor;
			border: $elementborder $noblegasescolor;
			@include animation;
			&:hover {
				background-color: $noblegasescolor - 20;
				border: $elementborder $noblegasescolor - 20;
			}
		}
	}
}

@mixin halogens {
	@each $i in $halogens  {
		&[data-attribute='#{$i}'] {
			background-color: $halogenscolor;
			border: $elementborder $halogenscolor;
			@include animation;
			&:hover {
				background-color: $halogenscolor - 20;
				border: $elementborder $halogenscolor - 20;
			}
		}
	}
}

@mixin semi-metals {
	@each $i in $semi-metals {
		&[data-attribute='#{$i}'] {
			background-color: $semimetalscolor;
			border: $elementborder $semimetalscolor;
			@include animation;
			&:hover {
				background-color: $semimetalscolor - 20;
				border: $elementborder $semimetalscolor - 20;
			}
		}
	}
}

@mixin basic-metals {
	@each $i in $basic-metals {
		&[data-attribute='#{$i}'] {
			background-color: $basicmetalscolor;
			border: $elementborder $basicmetalscolor;
			@include animation;
			&:hover {
				background-color: $basicmetalscolor - 20;
				border: $elementborder $basicmetalscolor - 20;
			}
		}
	}
}

@mixin lant-series {
	td.lant-series, #lant {
		background-color: $lantcolor;
		border: $elementborder $lantcolor;
			@include animation;
			&:hover {
				background-color: $lantcolor - 20;
				border: $elementborder $lantcolor - 20;
			}
	}
}

@mixin acti-series {
	td.acti-series, #acti {
		background-color: $acticolor;
		border: $elementborder $acticolor;
		@include animation;
		&:hover {
			background-color: $acticolor - 20;
			border: $elementborder $acticolor - 20;
		}
	}
}

@mixin transitioncolor {
	background-color: $transitioncolor;
	border: $elementborder $transitioncolor;
	@include animation;
	&:hover {
		background-color: $transitioncolor - 20;
		border: $elementborder $transitioncolor - 20;
	}
}

@mixin transition-metals {
	@for $i from 21 through 112 {

		@if $i <= 30 {
			&[data-attribute='#{$i}'] {
				@include transitioncolor;
			}
		}

		@if $i > 38 and $i < 49 {
			&[data-attribute='#{$i}'] {
				@include transitioncolor;
			}
		}

		@if $i > 71 and $i < 81 {
			&[data-attribute='#{$i}'] {
				@include transitioncolor;
			}
		}

		@if $i > 103 and $i < 113 {
			&[data-attribute='#{$i}'] {
				@include transitioncolor;
			}
		}
	}
}