$elementborder: 1px solid;

$non-metals: 1,6,7,8,15,16,34;
$nonmetalscolor: #75A3D1;

$alkali-metals: 3,11,19,37,55,87;
$alkalicolors: #B9D7D9;

$alkaline-metals: 4,12,20,38,56,88;
$alkalinecolors: #668284;

$noble-gases: 2,10,18,36,54,86,118;
$noblegasescolor: #008F68;

$halogens: 9,17,35,53,85,117;
$halogenscolor: #D9411E;

$semi-metals: 5,14,32,33,51,52,84;
$semimetalscolor: #5FA292;

$basic-metals: 13,31,49,50,81,82,83,113,114,115,116;
$basicmetalscolor: #7B3B3B;

$lantcolor: #3CA2A2;
$acticolor: #215A6D;

$transitioncolor: #493736;



@mixin non-metals {
	@each $i in $non-metals {
		&[data-attribute='#{$i}'] {
/*			background-color: $nonmetalscolor;
			border: $elementborder $nonmetalscolor;*/
		}
	}
}

@mixin alkali-metals {
	@each $i in $alkali-metals {
		&[data-attribute='#{$i}'] {
			background-color: $alkalicolors;
			border: $elementborder $alkalicolors; 
		}
	}
}

@mixin alkaline-metals {
	@each $i in $alkaline-metals {
		&[data-attribute='#{$i}'] {
			background-color: $alkalinecolors;
			border: $elementborder $alkalinecolors;
		}
	}
}

@mixin noble-gases {
	@each $i in $noble-gases {
		&[data-attribute='#{$i}'] {
/*			background-color: $noblegasescolor;
			border: $elementborder $noblegasescolor;*/
		}
	}
}

@mixin halogens {
	@each $i in $halogens  {
		&[data-attribute='#{$i}'] {
/*			background-color: $halogenscolor;
			border: $elementborder $halogenscolor;*/
		}
	}
}

@mixin semi-metals {
	@each $i in $semi-metals {
		&[data-attribute='#{$i}'] {
/*			background-color: $semimetalscolor;
			border: $elementborder $semimetalscolor;*/
		}
	}
}

@mixin basic-metals {
	@each $i in $basic-metals {
		&[data-attribute='#{$i}'] {
			background-color: $basicmetalscolor;
			border: $elementborder $basicmetalscolor;
		}
	}
}

@mixin lant-series {
	td.lant-series, #lant {
/*		background-color: $lantcolor;
		border: $elementborder $lantcolor;*/
	}
}

@mixin acti-series {
	td.acti-series, #acti {
/*		background-color: $acticolor;
		border: $elementborder $acticolor;*/
	}
}

@mixin transitioncolor {
	background-color: $transitioncolor;
	border: $elementborder $transitioncolor;
}

@mixin transition-metals {
	@for $i from 21 through 112 {

		@if $i <= 30 {
			&[data-attribute='#{$i}'] {
				@include transitioncolor;
			}
		}

		@if $i > 38 and $i < 49 {
			&[data-attribute='#{$i}'] {
				@include transitioncolor;
			}
		}

		@if $i > 71 and $i < 81 {
			&[data-attribute='#{$i}'] {
				@include transitioncolor;
			}
		}

		@if $i > 103 and $i < 113 {
			&[data-attribute='#{$i}'] {
				@include transitioncolor;
			}
		}
	}
}