$homecolor: #262524;
$playgroundcolor: #262626;
$headerfont: 'Roboto Condensed', sans-serif;
$headerweight: 800;
$bodyfont: 'Open Sans', sans-serif;
$bodycolor: #fff;
$bodyweight: 400;
$bodyweightbold: 600;
$buttonfontsize: .8em;
$buttonpadding: 13px 25px;
$mobile: 480px;

@import 'elementcolors';

html, body {
	min-height: 100%;
	min-width: 100%;
	overflow-x: hidden;
}

/******landing page******/
#home {
	background: url(atom_array.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 100%;
	min-width: 100%;

	.jumbotron {
		background-color: transparent;
		color: $homecolor;
		margin-top: 10%;

		h1 {
			font-family: $headerfont;
			font-size: 4.7em;
			font-weight: $headerweight;
			text-transform: uppercase;
		}
		
		p {
			font-family: $bodyfont;
			font-size: 1.4em;
		}

		.button {
			margin-top: 5%;

			a, a:visited {
				text-decoration: none;
				border: 2px $homecolor solid;
				color: $homecolor;
				padding: $buttonpadding;
				-webkit-border-radius: 4px;
				-moz-border-radius: 4px;
				border-radius: 4px;
				text-transform: uppercase;
				font-family: $bodyfont;
				font-weight: $bodyweight;
				font-size: $buttonfontsize;
				-webkit-transition: all .2s ease-in-out;
				-moz-transition: all .2s ease-in-out;
				transition: all .2s ease-in-out;
				
				&:hover {
					background-color: $homecolor;
					color: $bodycolor;
				}
			}

		}

	}
}
/******landing page end******/

/******playground******/
#playground {
	.navbar-default {
		background-color: $playgroundcolor;

		a, a:visited {
			color: $bodycolor;
			line-height: 72px;
		    height: 72px;
		    padding-top: 0;
		}

		.navbar-toggle {
			margin-top: 18px;
		}

		.navbar-brand {
			font-family: $headerfont;
			font-size: 1.6em;
			font-weight: $headerweight;
			text-transform: uppercase;
		}

		@media(max-width: $mobile) {
			ul.nav {
			  float: none !important;
			  text-align: center;
			}
		}

		.navbar-nav {
			font-family: $bodyfont;
			font-weight: $bodyweight;
			font-size: .8em;
			text-transform: uppercase;
			letter-spacing: .1em;

			li {
				display: inline-block;
				a:hover {
			    	color: #BABABA;
			    	@include animation;
			    }
			}
		}
	}

	.visualization {

		display: none;
  		margin-top: 5.5%;

		.atoms {
			margin-bottom: 3%;
			canvas {
				border: 7px solid $playgroundcolor;
				border-radius: 7px;
			}
		}

		button {
			padding: $buttonpadding;
			font-size: $buttonfontsize;
			text-transform: uppercase;
			@include animation;
		}

		.big-element {
			margin-top: 8%;
			.element-info {
				border-radius: 6px;
				font-family: $bodyfont;
				font-weight: $bodyweight;
				font-size: .9em;
				color: $bodycolor;
				width: 120px;
				height: 160px;
				padding: .6em;
				cursor: pointer;

				#symbol {
					font-size: 3.6em;
					font-weight: $bodyweightbold;
				}

				#atomic_weight {
					line-height: .2;
				}
			}
		}
	}

	.periodic-table {
		font-family: $bodyfont;
		font-size: 1.1em;
		font-weight: $bodyweight;
		color: $bodycolor;

		table {
			margin-left: auto;
			margin-right: auto;
			border-spacing: 4px;
			border-collapse: separate;
		}

		table.main-elements {
			margin-bottom: 1%;
		}

		td {
			width: 54px;
			height: 54px;
			&:not(.empty-cell) {
				border-radius: 6px;
				cursor: pointer;
			}
			@include non-metals;
			@include alkali-metals;
			@include alkaline-metals;
			@include noble-gases;
			@include halogens;
			@include semi-metals;
			@include basic-metals;
			@include transition-metals;
		}

		@include lant-series;
		@include acti-series;
	}	
}

/*instructions modal*/
.modal-content {
	.modal-title {
		font-family: $headerfont;
		font-weight: $headerweight;
		text-transform: uppercase;
	}

	.modal-body {
		font-family: $bodyfont;
		font-weight: $bodyweight;
		line-height: 1.8;
	}
}