$homecolor: #262524;
$playgroundcolor: #2d2c2c;
$headerfont: 'Roboto Condensed', sans-serif;
$headerweight: 800;
$bodyfont: 'Open Sans', sans-serif;
$bodycolor: #fff;
$bodyweight: 400;

@import 'animate';

html, body {
	min-height: 100%;
	min-width: 100%;
	overflow: hidden;
}

/******landing page******/
#home {
	background: url(atom_array.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 100%;
	min-width: 100%;

	.jumbotron {
		background-color: transparent;
		color: $homecolor;
		margin-top: 10%;

		h1 {
			font-family: $headerfont;
			font-size: 4.7em;
			font-weight: $headerweight;
			text-transform: uppercase;
		}
		
		p {
			font-family: $bodyfont;
			font-size: 1.4em;
		}

		.button {
			margin-top: 5%;

			a, a:visited {
				text-decoration: none;
				border: 2px $homecolor solid;
				color: $homecolor;
				padding: 13px 25px;
				-webkit-border-radius: 10px;
				-moz-border-radius: 10px;
				border-radius: 10px;
				text-transform: uppercase;
				font-family: $bodyfont;
				font-weight: $bodyweight;
				font-size: .8em;
				-webkit-transition: all .2s ease-in-out;
				-moz-transition: all .2s ease-in-out;
				transition: all .2s ease-in-out;
				
				&:hover {
					background-color: $homecolor;
					color: $bodycolor;
				}
			}

		}

	}
}
/******landing page end******/

/******playground******/
#playground {
	.navbar-default {
		background-color: $playgroundcolor;
		min-height: 72px;

		a {
			color: $bodycolor;
			line-height: 50px;
		}

		.navbar-brand {
			font-family: $headerfont;
			font-size: 1.6em;
			font-weight: $headerweight;
			text-transform: uppercase;
		}

		.navbar-nav {
			font-family: $bodyfont;
			font-weight: $bodyweight;
			font-size: .9em;
			text-transform: uppercase;
			letter-spacing: .1em;
		}
	}

	.visualization {
		display: none;
		.atoms {
			canvas {
				padding-left: 0;
				padding-right: 0;
				margin-left: auto;
				margin-right: auto;
				display: block;
				max-width: 800px;
			}
		}
	}

	.periodic-table {
		font-family: $bodyfont;
		font-size: 1.1em;
		font-weight: $bodyweight;
		position: absolute;
		left: 0;
		right: 0;

		table {
			margin-left: auto;
			margin-right: auto;
			border-spacing: 4px;
			border-collapse: separate;
		}

		table.main-elements {
			margin-bottom: 1%;
		}

		td {
			width: 52px;
			height: 52px;
			&:not(.empty-cell) {
				background-color: $playgroundcolor;
				color: $bodycolor;
				border: 1px solid $playgroundcolor;
				border-radius: 5px;
				font-size: 1em;
				cursor: pointer;
				text-align: center;
			}
		}
	}	
}

/*instructions modal*/
.modal-content {
	.modal-title {
		font-family: $headerfont;
		font-weight: $headerweight;
		text-transform: uppercase;
	}

	.modal-body {
		font-family: $bodyfont;
		font-weight: $bodyweight;
	}
}