$media: screen;
$feature-max: max-width;
$feature-min: min-width;
$tablet-min: 768px;
$tablet-max: 1024px;
$phone-min: 320px;
$phone-max: 480px;
$homecolor: #262524;
$transparentcolor: rgba(0,0,0,0.9);
$bodyfont: 'Open Sans', sans-serif;

html, body {
	min-height: 100%;
	min-width: 100%;
}

/******landing page******/
#home {
	background: url(atom_array.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 100%;
	min-width: 100%;

	.jumbotron {
		background-color: transparent;
		color: $homecolor;
		margin-top: 10%;

		h1 {
			font-family: 'Roboto Condensed', sans-serif;
			font-size: 4.7em;
			font-weight: 800;
			text-transform: uppercase;
		}
		
		p {
			font-family: $bodyfont;
			font-size: 1.4em;
		}

		.button {
			margin-top: 5%;

			a, a:visited {
				text-decoration: none;
				border: 2px $homecolor solid;
				color: $homecolor;
				padding: 13px 25px 13px 25px;
				-webkit-border-radius: 10px;
				-moz-border-radius: 10px;
				border-radius: 10px;
				text-transform: uppercase;
				font-family: $bodyfont;
				font-weight: 400;
				font-size: .8em;
				-webkit-transition: all .2s ease-in-out;
				-moz-transition: all .2s ease-in-out;
				transition: all .2s ease-in-out;
				
				&:hover {
					background-color: $homecolor;
					color: #fff;
				}
			}

		}

	}
}
/******landing page end******/

/******playground******/
#playground {
	button {
		display: none;
	}
	.atoms {
		canvas {
			padding-left: 0;
			padding-right: 0;
			margin-left: auto;
			margin-right: auto;
			display: block;
			max-width: 800px;
		}
	}

	.periodic-table {
		font-family: $bodyfont;
		font-size: 1.1em;
		font-weight: 600;
		position: absolute;
		bottom: 0;

		table {
			margin-left: auto;
			margin-right: auto;
			border-spacing: 4px;
			border-collapse: separate;
		}

		table.main-elements {
			margin-bottom: 1%;
		}

		td {
			width: 52px;
			height: 52px;
			&:not(.empty-cell) {
				background-color: $transparentcolor;
				color: #fff;
				border: 1px solid #000;
				border-radius: 5px;
				font-size: 1em;
				cursor: pointer;
				text-align: center;
			}
		}
	}	
}